*{
    padding: 0;
    margin:0;
    /* font-family: 'Josefin Sans'; */
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
.top{
    height: 100vh;
    width: 100%;
    /* background-image: url(../images/971.jpg); */
    /* background-color: #2e1557; */
    /* background: linear-gradient(to top , #6a82fb, #fc5c7d);     */
    background-color: #716BC4;
    background-size: cover; 
    background-position: center;
    
}
header{
    position: fixed;
}

nav{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left:8% ;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    /* color: rgb(41, 130, 130); */
    /* color:#f1c40f; */
    color: #F954A0;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    text-transform: capitalize;
    font-size: 23px;
}
nav ul li a:hover{
    /* color: rgb(41, 130, 130); */
    color: #F954A0;

    transition: .4s;

}
.btn{
    /* background-color: rgb(41, 130, 130); */
    /* background-color: #f1c40f; */
    background-color: #F954A0;
    color: white;
    text-decoration: none;
    border:2px solid transparent ;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
    
}
.content{
    position: absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    /* color: rgb(140, 160, 160) ; */
    /* color:#f1c40f; */
    color: #f984bb;

    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: incline-block;
    width: 100%;
    padding:14px 130px 14px 15px;
    border: 2px solid  rgb(41, 130, 130);
    border-radius: 20px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    background-color:  rgb(41, 130, 130);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px ;
    top:6px ;
    right: 6px;

}

.about{
    width: 100%;
    background-color:white ;
}
.about img{
    height: 527px;
    width: 307px;
}
.about-text{
    width: 550px;
    color: #333;
}
.main{
    height: 48em;
    width: 1300px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center ;
    justify-content: space-around;
}
.about-text h2{
    /* color: white; */
    font-size: 68px;
    text-transform: capitalize;
    margin-bottom:20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgb(140, 160, 160) ;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
button{
    background-color:rgb(41, 130, 130);
    color: white;
    text-decoration: none;
    border: 2px solid  transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 20px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border:2px solid rgb(41, 130, 130);
    cursor: pointer;
}





img{
    border-radius: 20px;
}
.service{
    background: white;
    width: 100%;
    padding:100px 0px;

}

.title{
    font-size: 75px;
    color: white;
    /* color: #F954A0; */
    font-size: 75px;
    width: 1130px;
    margin:auto;
    text-align: center;
    padding: 20px;
}
#messervices{
    color: black;
}
.box{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px ;
    padding: 20px;
}
.card{
    height:200px;
    width:335px;
    padding: 20px 45px;
    background: #716BC4;
    border-radius: 20px;
    margin: 15px;
    position:relative ;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #F954A0;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 16px;
}
.pra p{
    color:rgb(139, 237, 237) ;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color:rgb(41, 130, 130);
    color: white;
    text-decoration: none;
    border: 2px solid  transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 20px;
    transition: .4s
}
.card .button:hover{
    background-color: transparent;
    border:2px solid rgb(41, 130, 130);
    cursor: pointer;
}
/* .contactez-moi{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contactez-moi p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px ;
} */
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #716BC4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F954A0;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition:.3s ;
}
.navbar .burger-menu{
    display: none;
    /* position: absolute; */
    position: fixed;
    left: 10px;
    top: 30px;
    z-index: 10;
    width: 42px;
    filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(228deg) brightness(105%) contrast(111%);
}
.linkedin a{
    display: none;
}
.nom{
    display: none;
    color: white;
}
/* addi*/
.project{
    text-decoration: none;
    padding: 20px;
}
.projects-grid-container{
    background-color: #716BC4;

    padding: 0 5%; 
    padding-top: 0;
    min-height: 100vh; 
}
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat( minmax(250px, 1fr));
    gap: 163px; */
    justify-content: space-around;
    /* justify-content: flex-start; */
    align-items: stretch; 
    
  }
  
  .project {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    overflow: hidden;
    border: none;
  }
  
  
  .project-info h3 {
    padding-top: 20px;
    text-align: center;
    font-size: 1em; 
  }
  
  
  .project:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
  }
  
  .project:hover .project-info {
    background: #716BC4; 
    opacity: 1;
  }
  
  .project-info h3 {
    text-align: center;
    font-size: 1.5em;
}
/*DIVIDER*/
.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    position:absolute;
    left:0px;
    float:left;
  }
  
  .parallax1 > use {
    animation: move-forever1 10s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax2 > use {
    animation: move-forever2 8s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax3 > use {
    animation: move-forever3 6s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax4 > use {
    animation: move-forever4 4s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  

  

@media screen and (max-width: 900px) {

    .nom{
        display: block;
    }
    html,body{
        width:100%;
        overflow-x:hidden;
        }
    .btn{
        display: none;
        position:absolute;
    }
    .navbar{
        padding: 0;
    }
    .navbar .burger-menu{
        display: block;
    }
    .logo{
        text-align: center;
        left:18vh ;
        font-size: 35px;
        position: relative;
        top: 10px;
    }
    .nav-links{
        top: 0;
        left:0;
        z-index: 9;
        position: absolute;
        /* background-color: red; */
        background-color: rgba(255,255,255,0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .nav-links.mobile-menu{
        margin-left:0 ;
    
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.6em;
    }

    .linkedin a{
        display: block;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F954A0;
        border-radius: 50%;
        margin: 22px 10px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #image{
        /* position:relative; */
        display:none;
        top: 1000px;
        width: 200px;
        border-radius: 30%;
        left:150px ;
        /* position: absolute; */
       
    }
    .about-text{

        width: 70%;
        margin: auto;
        position: absolute;
        top: 1100px;
    }
    /* .main{
        width: 100px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items:center ;
        border-radius:50% ;
        justify-content: space-around;
    } */
    /* .about-text h2, */
    .name{
        /* width: 90%; */
        /* margin: auto; */
        color: white;
        font-size: 35px;
        text-transform: capitalize;
        margin-bottom:20px;
    }
    .about-text h5{
        /* color: white; */
        letter-spacing: 1px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .about-text p{
        color: rgb(140, 160, 160) ;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
    
    }
    .title{
        color: white;
        font-size: 55px;
        width: 100%;
        margin: auto ;
        text-align: center;
        /* font-size: 35px; */
        /* text-transform: capitalize; */
        /* margin-bottom:20px; */
    }
    .project{
        height:327px;
        width:31em;
        padding: 20px 35px;
        background: #716BC4;
        border-radius: 20px;
        /* margin: 50px; */
        position:relative ;
        overflow: hidden;
        text-align: center;
    }
    .card{
        height:200px;
        width:20em;
        padding: 20px 35px;
        background: #716BC4;
        border-radius: 20px;
        margin: 50px;
        position:relative ;
        overflow: hidden;
        text-align: center;
        /* width: 90%; */
        
    }
    .box{
        /* margin: auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 400px ;
    }
    .about-text h2{
        /* color: white; */
        font-size: 68px;
        text-transform: capitalize;
        margin-bottom:5%;
        margin-top: 56%;
    }
    .main{
    height: 66em;
    width: 1300px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center ;
    justify-content: space-around;
    }

    nav ul li a{
        font-size: 30px;
    }
}
